[submodule "Submodules/BeauUtil"]
	path = Submodules/BeauUtil
	url = https://github.com/BeauPrime/BeauUtil.git
	branch = main
[submodule "Submodules/Leaf"]
	path = Submodules/Leaf
	url = https://github.com/BeauPrime/Leaf.git